body {
height: 100vh;
}

table,
tbody {
  max-width: 850px;
  width: 100%;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    display: block;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table > :not(caption) > * > * {
  background-color: var(--cor-de-fundo);
}

.header-table {
  border-left: 1px solid var(--cor-escura) !important;
  border-right: 1px solid var(--cor-escura) !important;
}

thead,
th,
tbody,
td {
  border: none;
  border-style: none !important;
}

.value-td,
.header-table th {
  color: var(--cor-escura) !important;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.btn-plus,
.btn-plus:hover,
.btn-plus:active,
.btn-plus:focus {
    background-color: var(--cor-escura);
    border: 2px solid #ffff;
    position: fixed;
    bottom: 28px;
    right: 50px;
    outline: none;
    box-shadow: none;
}

footer {
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 500px) {
    .line {
      width: 85vw;
    }
  
    th,
    td {
      font-size: 10px;
    }
  
    .total {
      padding: 0px !important;
    }
    .btn-plus span {
      font-size: 14px;
    }
  
    .form-control::placeholder {
      font-size: 12px;
    }
    div .total {
      font-size: 20px;
    }
  
    .btn-plus {
      bottom: 10px;
      right: 10px;
  }
  }
  